<div class="center jumbotron">
  <h1>Welcome to my project</h1>
  <h2>there is the home page of professional rails udemy course </h2>
  <%= link_to 'sign up now', '', class: 'btn btn-default btn-success'%>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>View My project as a guest</h2>
    <h3 class="left">View My project as a guest and you can sign up later</h3>
    <%= link_to 'sign up', '', class: 'btn btn-sm btn-warning' %>
  </div>
  <div class="col-lg-4">
    <h2>View My project as a guest</h2>
    <h3 class="left">View My project as a guest and you can sign up later</h3>
    <%= link_to 'sign up', '', class: 'btn btn-sm btn-warning' %>
  </div>
  <div class="col-lg-4">
    <h2>View My project as a guest</h2>
    <h3 class="left">View My project as a guest and you can sign up later</h3>
    <%= link_to 'sign up', '', class: 'btn btn-sm btn-warning' %>
  </div>
</div>