<div class="center jumbotron">
  <h1>Welcome to my Recipes Project</h1>
  <h2>there is the home page of professional rails udemy course </h2>
  <%= link_to 'Sign up now!', register_path, class: 'btn btn-default btn-success'%>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">View My project as a guest</h3>
    <h2 class="left">View My project as a guest and you can sign up later</h2>
    <%= link_to 'All Recipes', recipes_path, class: 'btn btn-sm btn-warning' %>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View My project as a guest</h3>
    <h2 class="left">View My project as a guest and you can sign up later</h2>
    <%= link_to 'sign up', register_path, class: 'btn btn-sm btn-warning' %>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">Sign in your account</h3>
    <h2 class="left">Add/Update your resipes.</h2>
    <%= link_to 'Login to your account', login_path, class: 'btn btn-sm btn-warning' %>
  </div>
</div>